language: cpp

sudo: false

compiler:
  - gcc
  - clang

os:
  - linux
  - osx

addons:
  apt:
    packages:
    - libpcap-dev
    - libssl-dev
    - libboost-all-dev

before_script:
  - mkdir build
  - cd build
  - cmake .. -DLIBTINS_ENABLE_CXX11=1
  - make tests

script:
  - ctest -V